<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
</head>
<body>
    <h1>🧑‍💼 Signed Up Users</h1>
    <table border="1" cellpadding="10">
        <tr><th>Email</th><th>Password</th><th>City</th></tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
        </tr>
        {% endfor %}
    </table>

    <hr><br>

    <h1>🩺 Registered Doctors (From Doctor Plus App)</h1>
    <table border="1" cellpadding="10">
        <tr><th>Name</th><th>Age</th><th>Gender</th><th>Specialty</th><th>city</th></tr>
        {% for doctor in doctors %}
        <tr>
            <td>{{ doctor[0] }}</td>
            <td>{{ doctor[1] }}</td>
            <td>{{ doctor[2] }}</td>
            <td>{{ doctor[3] }}</td>
            <td>{{ doctor[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
